<h3>Coming soon</h3>

<!--
<h3>Our prices</h3>

<table class="table table-striped table-responsive">
    <thead>
    <tr>
        <th>
            Service
        </th>
        <th>
            Price ($)
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            Arrangement
        </td>
        <td>
            from 140
        </td>
    </tr>
    <tr>
        <td>
            Games/Movies soundtracks
        </td>
        <td>
            price contractual
        </td>
    </tr>
    <tr>
        <td>
            The sound effects for games / movies
        </td>
        <td>
            price contractual
        </td>
    </tr>
    <tr>
        <td>
            Writing the song "turnkey"
        </td>
        <td>
            from 210
        </td>
    </tr>
    <tr>
        <td>
            Mixing / Mastering
        </td>
        <td>
            from 35 / track
        </td>
    </tr>
    <tr>
        <td>
            Making unique ringtones
        </td>
        <td>
            from 20
        </td>
    </tr>
    <tr>
        <td>
            Promotional audio clips
        </td>
        <td>
            from 100 / min.
        </td>
    </tr>
    <tr>
        <td>
            Jingles Production (male / female voice)
        </td>
        <td>
            from 15
        </td>
    </tr>
    </tbody>
</table>


<p>
    Timing of orders depends on the purpose, volume, complexity and specified individually for each project. The total
    cost of the same is calculated taking into account factors such as the terms of reference, scope of work, terms of
    complexity.
</p>
<p><i> We do not change the price of the order is in progress!</i></p>
<p>
    <b>Price for other services is contractual.</b>
</p>
-->
