<h3>"Step by step" scheme of work</h3>
<p>Before you will become our client we are ready to negotiate, answer all of your questions about your idea and as
    result of consulting session we will find and propose you the best matching solution for your task.</p>
<p>After the way of realization is stated we need to complete 4 steps before you will receive your order successfully
    finished.</p>
<ol>
    <li>
        <b>Technical task.</b>
        We are kindly ask you to prepare well worded, formulated and detailed technical task, which will contain all
        your ideas and requirements. You may prepare the technical task in a free wording form , but please include all
        the details you can. Without detailed task our work will be useless.
        <br/>
        <br/>
    </li>
    <li>
        <b>Pre-payment.</b>
        We start the realization of your order only after at least 50% pre-payment. <br/>
        The payment can be transferred via:
        <ul>
            <li>Western Union</li>
            <li>Money Gram</li>
            <li>Web-money</li>
        </ul>
        <br/>
    </li>
    <li>
        <b>Executing the order.</b>
        During the process of realization of your order we will show you different transitional and interim sketches and
        variants and vary, change them in conformance with your opinion and wishes. The number of transitional variants
        is the point of negotiation on the pre-consulting stage of working schedule. If you like the transitional
        variant, then we will ask you to transfer the remain balance of the work cost, and then we will successfully
        accomplish your order. In the case of 100% pre-payment the continuation of the working progress will start
        immediately after the confirmation and proving of the intermediary variant.
        <br/>
        <br/>
    </li>
</ol>




