<h3>О нас</h3>

<p>Здравствуйте!</p>
<p>Меня зовут Антон Брежнев a.k.a. Tony Cyclone(Z), и я создатель студии CYCLONE MUSIC SPACE.</p>
<p>Миссия CYCLONE MUSIC SPACE - воплощение Ваших идей, где бы вы ни находились. Именно поэтому наша студия реализована в
    онлайн формате. Сейчас, благодаря развитию онлайн технологий, удалённый способ работы с клиентом ничем не уступает
    живому общению. Мы всегда можем обсудить Ваш заказ и все его подробности в Skype так, будто бы Вы сидите в кресле
    напротив.</p>
<p>Для меня очень важно Ваше мнение о моей работе , поэтому я сделаю всё для того, чтобы все Ваши самые смелые идеи
    воплотились в реальности. А для того, чтобы результат удовлетворил обе заинтересованные стороны, мы будем работать
    вместе: Вы отвечаете за идею, а я беру на себя её реализацию. Список наших клиентов постоянно пополняется, и, как
    показала практика, тот кто однажды сотрудничал с нашей студией, становится её постоянным клиентом. Я рад что
    оправдываю доверие. Нет ничего лучше чем доставить удовольствие своей работой.</p>
<p>С Уважением, Антон Брежнев a.k.a. Tony Cyclone(Z)</p>

