<h3>Контактная информация</h3>
<div class="contact">
    <p>
        <br/>
        <i class="fa fa-2x fa-skype"></i>
        <b>cyberton11</b>
    </p>

    <p>
        <i class="fa fa-2x fa-envelope"></i>
        <b><a href="mailto:cyberton@mail.ru">cyberton@mail.ru</a></b>
    </p>

    <p>
        <i class="fa fa-2x fa-vk"></i>
        <b><a href="https://vk.com/cyclone_drummer" target="_blank">https://vk.com/cyclone_drummer</a></b>
    </p>

    <p>
        <i class="fa fa-2x fa-vk"></i>
        <b><a href="https://vk.com/cyclone_music_space" target="_blank">https://vk.com/cyclone_music_space</a></b>
    </p>

    <p>
        <br/>
        <sup>*</sup>
        <i>Вы так же можете воспользоваться формой внизу страницы и отправить нам письмо с вопросами или пожеланиями.</i>
    </p>
</div>