<div>
    <h3 class="text-center">Здесь вы можете прочитать отзывы реальных людей о нашей студии и оставить свой</h3>
    <br/>
    <br/>
    <p class="text-center" ng-show="loading"><i class="fa spinner fa-spinner fa-3x"></i></p>

    <div class="comment" ng-hide="loading" ng-repeat="comment in comments">
        <div class="row">
            <div class="col-xs-3 col-md-3 img-rounded photo nopadding">
                <img ng-src="{{ comment.photo }}" alt="" class="img-responsive"/>
            </div>
            <div class="col-xs-9 col-md-9">
                <h4 class="col-md-12 nopadding">
                    <b class="pull-left padding-t">{{ comment.author }}</b>
                    <div class="pull-right" ng-show="comment.social_link != null">
                        <a ng-href="{{ comment.social_link }}"
                           class="btn btn-social btn-sm btn-block btn-{{comment.social_type}}"
                           target="_blank"
                           title="Посмотреть профиль в соц. сети">
                            <i class="fa fa-{{comment.social_type}}"></i>Профиль в соц. сети&nbsp;
                        </a>
                    </div>
                </h4>

                <div class="comment-text">
                    {{ comment.text }}
                </div>
            </div>
        </div>
        <hr/>
    </div>
    <div class="col-md-12">
        <div ng-show="success" class="alert alert-info text-center" role="alert"><i class="fa fa-2x fa-smile-o"></i>Спасибо
            за ваш
            отзыв! Он появится на сайте после проверки модератором.
        </div>
        <div ng-show="error" class="alert alert-danger text-center" role="alert">
            <i class="fa fa-2x fa-frown-o"></i>
            Что-то пошло не так. Мы не смогли отправить ваш отзыв. Пожалуйста, попробуйте ещё раз.
            Если ошибка возникает снова, <a class="alert-link" href="#/contact">напишите нам!</a>
        </div>
    </div>
    <form ng-submit="submitComment();" name="commentForm" class="text-center">
        <h4 class="text-primary form-group">Оставить отзыв</h4>

        <div class="form-group col-md-3 col-md-offset-1">
            <div flow-init
                 flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
                 flow-files-submitted="$flow.upload()"
                 flow-file-success="uploader.setPhoto($flow, $file, $message)">
                <div class="form-group">
                    <img class="img-rounded img-responsive avatar-preview" ng-hide="$flow.files.length"
                         src="../../img/avatars/noavatar.png"/>
                    <img class="img-rounded img-responsive avatar-preview" ng-show="$flow.files.length"
                         flow-img="$flow.files[0]"/>
                </div>
                <div>
                    <button type="button" class="btn btn-default" ng-hide="$flow.files.length" flow-btn
                            flow-attrs="{accept:'image/*'}">Загрузить аватар
                    </button>
                    <button type="button" class="btn btn-default" ng-show="$flow.files.length" flow-btn
                            flow-attrs="{accept:'image/*'}">Изменить
                    </button>
                    <button type="button" class="btn btn-danger" ng-show="$flow.files.length"
                            ng-click="$flow.cancel(); uploader.setNoPhoto();">Отмена
                    </button>
                </div>
            </div>

        </div>
        <div class="col-md-7">
            <div class="form-group">
                <input required="required" type="text" class="form-control" name="author" ng-model="commentData.author"
                       placeholder="Имя/ник">
            </div>
            <div>
                <div class="col-md-8 nopadding-l form-group">
                    <input required="required" type="text" class="form-control" name="social_link"
                           ng-model="commentData.social_link"
                           placeholder="Ссылка на профиль в соц. сетях"></div>
                <div class="nopadding form-group">
                    <button type="button" class="btn btn-default col-md-4" style="padding: 6px 8px;" ng-click="commentData.social_link = 'нет'">
                        Меня нет в соц. сетях
                    </button>
                </div>
            </div>
            <div class="form-group">
                <textarea required="required" class="form-control" name="comment" ng-model="commentData.text"
                          placeholder="Ваш отзыв"></textarea>
            </div>
            <div class="form-group text-right">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-envelope-o"></i>&nbsp;Отправить
                </button>
            </div>
        </div>
    </form>

</div>
