<h3>Мы предоставляем Вам следующие услуги</h3>
<ul>
    <li><p><b>Запись
        живых инструментов и вокала. </b>Наши
        профессиональные музыканты имеют
        студийный опыт не менее 10ти лет. Они
        запишут акустическую и электрогитару,
        бас-гитару, ударные, вокал, клавишные,
        электронику. При этом работа может быть
        выполнена чётко по Вашей табулатуре
        или с возможностью импровизации в
        заданном жанре.</p>
    </li>
    <li><p><b>Написание
    </b><b>midi</b><b>-партий
        отдельных инструментов.</b>
        Сочиним или скорректируем партии на
        ударные, бас, гитары, клавишные. Также
        есть возможность подбирать соответствующий
        звук инструмента (озвучивать midi-партию)
        для последующей студийной обработки.</p>
    </li>
    <li><p><b>Аранжировкa.</b>
        Вы представляете как будет выглядеть
        Ваша песня? Что она будет нести своему
        слушателю? Какого эффекта Вы хотите
        достичь? Опишите свои пожелания, и наш
        аранжировщик воплотит их.</p>
    </li>
    <li><p><b>Написание
        песни "под ключ". </b>С
        Вас идеи — с нас готовая композиция,
        включающая в себя музыку и текст. Услуга
        уже включает в себя сведение и мастеринг.

    </p>
    </li>
    <li><p><b>Написание
        песни на Ваши стихи. </b>Всё
        то же самое что и песня "под ключ",
        только с учётом Вашего текста.</p>
    </li>
    <li><p><b>Написание
        стихов на Вашу песню.</b>
        Далеко не любой музыкант способен
        красиво воплотить свои мысли в стихах.
        И это абсолютно нормальное явления.
        Поэтому наши поэты готовы помочь вам.
        Они напишут текст на русском или
        английском языке на заданную тематику.</p>
    </li>
    <li><p><b>Создание
        саундтреков к компьютерным играм,
        фильмам. </b>Мы напишем для
        вас тематические музыкальные композиции,
        которые создадут соответствующую
        атмосферу игрового мира или фильма.</p>
    </li>
    <li><p><b>Создание
        музыкального оформления к
        аудиокнигам/аудиоспектаклям. </b>Самой
        важной задачей музыкального оформления
        для аудикниги/аудиоспектакля является
        формирование определенных эмоций,
        которые соответствовали бы атмосфере
        в нужной части сценария. Это могут быть
        различные шумы, переходы, ambient,
        фоновая музыка, музыка к определённым
        моментам сценария и т.д.</p>
    </li>
    <li><p><b>Музыкальное
        оформление и озвучивание рекламных
        роликов</b>. Реклама которая
        подана правильно всегда заинтересует
        и сработает. Мы подготовим музыкальное
        сопровождение для рекламных роликов,
        которое придется по душе слушателям
        любых возрастных категорий. Также мы
        возьмём на себя озвучивание ролика и
        в формате песни.
    </p>
    </li>
    <li><p><b>Музыкальное
        поздравление. </b>По настоящему
        уникальный подарок, который можно
        сделать ребёнку, маме, другу, начальнику.
        Дарите эмоции, а не вещи! Эти воспоминания
        останутся на долгие годы.</p>
    </li>
    <li><p><b>Создание
        минусовок</b>. Минусовка это
        запись музыкального произведения, в
        котором отсутствует одна партия, обычно
        это вокал или солирующий инструмент.
        Мы запишем Вам фонограмму максимально
        близко к оригиналу.</p>
    </li>
    <li><p><b>Сведение.
    </b>Это стадия
        создания из отдельных записанных треков
        конечной записи. Этот этап является
        одним из заключительных при создании
        фонограммы. В нём происходит наложение
        всех записанных дорожек и партий,
        смешение их звука, панорамирование,
        баланс громкостей.</p>
    </li>
    <li><p><b>Мастеринг.
    </b>Заключительная
        стадия при работе с фонограммой. На
        этом этапе происходит общая многополосная
        компрессия, работа со стереобазой,
        максимизация громкости, эквализация.
        Также мастеринг позволяет сформировать
        из разнохарактерных композиций единое
        целое – альбом, который будет звучать
        как единое художественное произведение,
        а не просто набор песен.</p>
    </li>
    <li><p><b>Нотная
        транскрипция</b>. Если вы
        столкнулись с проблемой отсутствия
        нот нужного Вам произведения, то наши
        специалисты транскрибируют это
        произведение – то есть выслушают и
        запишут его нотами.</p>
    </li>
    <li><p><b>Тюнинг и
        монтаж вокала. </b>К сожалению
        даже опытные вокалисты не застрахованы
        от интонационных и ритмических ошибок
        на записи. В случае если ошибки не сильно
        грубые, то можно осуществить "подтягивание"
        нот, придать вокалу ритмичности, а также
        создать нужною динамику.</p>
    </li>
    <li><p><b>Изготовление
        Рингтонов. </b>Хотите иметь
        уникальный авторский рингтон который
        будет только у Вас? Тогда всё что Вам
        нужно это лишь подробно описать всё
        что вы хотите, и наши специалисты сделают
        его с учётом ваших требований и пожеланий.</p>
    </li>
    <li><p><b>Разработка
        сайтов или страниц ВК для музыкантов
        и музыкальных групп "под ключ". </b>
        Страница или сайт группы это её лицо.
        И от того насколько это лицо привлекательно
        зависит то, насколько слушатель
        задержится на Вашей странице или сайте.
        Хороший и интуитивно понятный дизайн
        способен заставить слушателя нажать
        "play"
        на Вашей аудиозаписи. А ведь именно это
        и есть основная задача страницы или
        сайта. Хороший дизайн, который
        соответствует тематике группы сформирует
        особенное впечатление о группе в целом.</p>
    </li>
</ul>
<p><br><br>
</p>