<p>Создание музыки и звуков – это одна из самых важных задач при разработке игр. Нужная атмосфера в игре формирует
    определенные эмоции, которые позволяют размыть границы экрана и полностью погрузиться в игровой процесс.</p>
<p>Для того чтобы позволить игроку вжиться в созданный разработчиками мир, композитор должен сам прочувствовать его до
    мелочей, увидеть образы героев, сформировать отношение к ним. Только тогда саундтрек будет нести нужные эмоции,
    запомнится и создаст ту неповторимую атмосферу, которая дополнит визуализацию и создаст великолепный законченный
    образ.</p>
<p>Музыка и звуки это волшебный мир, в который мы погружаемся и полностью обволакиваем игрока. Для того чтобы решить
    задачу со звуком мы сами проживаем все моменты сценария, испытываем эмоции и только тогда, после пережитых ощущений,
    мы берёмся за нашу задачу максимально искренне. Мы начинаем передавать наши эмоциональные переживания в музыке и в
    звуках. Только так мы рождаем то ,чем впоследствии будем гордиться.</p>
<p>Нас отличает безграничная любовь к творчеству, креативные решения и постоянное стремление к "сервису вашей мечты".
    Потому что мы не хотим , чтобы у вас каждый раз болела голова насчёт звука в вашем проекте. Мы настроены на
    долгосрочное сотрудничество с разработчками, и со своей стороны гарантируем высочайшее качество нашей работы,
    выполнение работы строго в срок и бесперебойную связь.</p>
<p>Помимо создания саундтреков и звуковых эффектов для игр, мы также занимаемся музыкальным и звуковым оформлением
    различных видео, таких как трейлеры, кат-сцены, рекламные ролики, информационное/обучающее видео, видео для youtube
    и т.д.
</p>
