<h3>Здесь Вы можете ознакомиться с нашим портфолио</h3>
<p>Приятного прослушивания!</p><br/>
<div class="text-center" ng-show="loading"><i class="fa fa-spinner spinner fa-3x"></i></div>
<div ng-show="error" class="alert alert-danger" role="alert">
    <i class="fa fa-2x fa-frown-o"></i>
    Что-то пошло не так. Мы не смогли загрузить портфолио. Пожалуйста, попробуйте обновить страницу.
    Если ошибка возникает снова, <a class="alert-link" href="#/contact">напишите нам!</a>
</div>

<div ng-show="success" id="portfolio">
    <p>Отметьте интересующие вас стили</p>

    <div class="col-md-6">
        <div ng-repeat="tag in tags[0]">
            <div class='square-box' id="{{tag}}" ng-click="loadTracks(tag)">
                <div class='square-content'>
                    <div>
                        <span>{{tag}}</span>
                        <span class="open">+</span>
                    </div>
                </div>
            </div>
            <div class="tracks hidden" id="tracks_{{tag}}"></div>
        </div>
    </div>
    <div class="col-md-6">
        <div ng-repeat="tag1 in tags[1]">
            <div class='square-box' id="{{tag1}}" ng-click="loadTracks(tag1)">
                <div class='square-content'>
                    <div>
                        <span>{{tag1}}</span>
                        <span class="open">+</span>
                    </div>
                </div>
            </div>
            <div class="tracks hidden" id="tracks_{{tag1}}"></div>
        </div>
    </div>
</div>
