<h3>Раздел в разработке</h3>
<!--
<h3>Наш прайс-лист</h3>

<table class="table table-striped table-responsive">
    <thead>
    <tr>
        <th>
            Услуга
        </th>
        <th>
            Цена ($)
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            Аранжировка
        </td>
        <td>
            от 140
        </td>
    </tr>
    <tr>
        <td>
            Музыка для игр/фильмов
        </td>
        <td>
            Цена договорная
        </td>
    </tr>
    <tr>
        <td>
            Звуковые эффекты для игр/фильмов
        </td>
        <td>
            Цена договорная
        </td>
    </tr>
    <tr>
        <td>
            Написание песни
            "под ключ"
        </td>
        <td>
            от 210
        </td>
    </tr>
    <tr>
        <td>
            Сведение/Мастеринг
        </td>
        <td>
            от 35 / трек
        </td>
    </tr>
    <tr>
        <td>
            Изготовление
            уникальных рингтонов
        </td>
        <td>
            от 20
        </td>
    </tr>
    <tr>
        <td>
            Рекламные
            аудиоролики
        </td>
        <td>
            от 100 / мин.
        </td>
    </tr>
    <tr>
        <td>
            Изготовление
            джинглов (мужской/женский голос)
        </td>
        <td>
            от 15
        </td>
    </tr>
    </tbody>
</table>

<p>
    Сроки выполнения заказов зависят от целей, объёмов, сложности и уточняются персонально по каждому проекту. Итоговая
    стоимость так же рассчитывается с учётом таких факторов как техническое задание, объём работы, сроки, сложность.
</p>
<p><i> Мы не меняем цену заказа в процессе его выполнения! </i></p>
<p>
    <b>На остальные услуги цена договорная.</b>
</p>
-->
