<h3>Пошаговая схема работы</h3>
<p>Прежде, чем вы станете нашим клиентом, мы ответим на интересующие вас вопросы касательно заказа и поможем найти
    оптимальное решение той или иной задачи.</p>
<p>А дальше мы приступаем непосредственно к четырём шагам отделяющим вас от получения заказа.</p>
<ol>
    <li>
        <b>Техническое задание.</b>
        Для представления итогового результата работы нам нужно чёткое сформулированное техническое задание, в котором
        надлежит подробно изложить все требования и пожелания. Техническое задание заполняется Вами в произвольной
        письменной форме. Без чётко сформулированного задания мы не возьмёмся за работу.
        <br/>
        <br/>
    </li>
    <li>
        <b>Предоплата.</b>
        Мы работаем только по 50% или 100% предоплате. Работа с оплатой наших услуг "по факту" невозможна. Оплатить
        заказ вы можете следующими способами:
        <ul>
            <li>Денежный перевод через Сбербанк. Переводы осуществляются только по России и только в рублях. Также Вы
                можете
                осуществить перевод денежных средств на привязанную к нашему счёту банковскую карту Сбербанка или по
                безналичному расчёту с помощью системы интернет-банк.
            </li>
            <li> Перевод через систему Contact. Преимущество данной системы в низких процентах за перевод и в скорости
                услуг.
                Отправить денежный перевод можно в любом пункте обслуживания без открытия счета.
            </li>
            <li>Western Union</li>
            <li>Money Gram</li>
            <li>Перевод через систему "Золотая Корона"</li>
            <li>Web-money</li>
            <li>Почтовый перевод. C тарифами на почтовый перевод можно ознакомиться на официальном сайте Почты России.
                В случае если Вам не подходит ни один из перечисленных способов, просим связаться с нами для
                согласования
                альтернативных вариантов.
            </li>
        </ul>
        <br/>
    </li>
    <li>
        <b>Работа над заказом.</b>
        На этом этапе мы приступаем к работе над заказом . В процессе работы мы показываем Вам какие-либо наработки и
        корректируем промежуточные результаты в соответствии с Вашими пожеланиями. Если Вас не устраивает промежуточный
        результат, то Вы вправе высказать свои замечания. Количество вариантов наработок обговаривается заранее. Если
        эскиз вас устроит, то после внесения вами оставшихся 50% работа продолжится до полного завершения. В случае
        изначальной 100% оплаты мы сразу продолжаем работу после согласования любого промежуточного результата.
        <br/>
        <br/>
    </li>
    <li>
        <b>Готовый результат.</b>
        Есть 2 простых способов получить Ваш заказ.
        <ul>
            <li>Электронный. Это предпочтительный способ. В этом случае готовая работа высылается через интернет
                посредством электронной почты или иным обговоренным способом.
            </li>
            <li>Физический. В этом случае мы отправим диск с данными почтой или свяжемся с уполномоченными людьми в
                других городах для передачи Вам готовой работы на физическом носителе.
            </li>
        </ul>
    </li>
</ol>




